@import "@/assets/styles/config"
.close
	transform: translateX(1000px)

.mobile-menu
	position: fixed
	top: 0
	bottom: 0
	right: 0
	display: none
	background: #313945
	width: 320px
	z-index: 10
	height: 100vh
	color: #fff
	padding: 44px 32px
	@include transitionAllEase
	@include max-width(834)
		display: block
	@include max-width(480)
		width: 100%
		padding: 13px 16px 32px

	&__wrapper
		@include flex-between
		margin-bottom: 36px
	&__links
		padding: 0 60px
	&__logo
		display: none
		width: 85px
		height: 39px
		@include max-width(480)
			display: block

	&__close
		display: block
		margin-left: auto
		border: none
		background: none
		cursor: pointer

	&__item
		border-bottom: 1px solid #1D2228
		text-align: center

		&:last-child
			border: none

	&__link
		display: block
		padding: 24px 0
		font: 18px $Alegreya700
		line-height: 24px
		color: $white
		width: max-content
		margin: 0 auto
		@include transitionAllEase

		&:hover
			color: $primaryColor

	&__footer
		position: absolute
		width: 100%
		bottom: 46px
		left: 50%
		text-align: center
		transform: translateX(-50%)

		&-title
			font: 12px $Roboto700
			line-height: 18px
			color: #A8B0BC

		&-phone
			font: 24px $Alegreya900
			line-height: 32px
			color: $white
			@include transitionAllEase

			&:hover
				color: $primaryColor

		&-time
			font-size: 12px
			line-height: 18px
			color: #A8B0BC

		&-lang
			display: none
			font: 12px $Alegreya700
			line-height: 16px
			text-transform: uppercase
			@include max-width(600)
				display: block
