@import "@/assets/styles/config"

.header__menu
	position: relative
	@include max-width(834)
		display: none

	&-list
		@include flex-between
		column-gap: 60px
		@include max-width(1270)
			column-gap: 30px
		@include max-width(979)
			column-gap: 20px

	&-item
		text-transform: uppercase
		font: 18px $Alegreya900
		line-height: 24px
		cursor: pointer
		@include transitionAllEase
		@include max-width(979)
			font-size: 16px
		&--scrolled
			font: 16px $Alegreya700

		&:hover
			color: $primaryColor
