@import "@/assets/styles/config"

.header__info
	@include flex-center
	cursor: pointer

	&-icon-container
		position: relative
		@include icon-size

	&-counter
		position: absolute
		@include flex-center
		top: -10px
		right: -5px
		width: 20px
		height: 20px
		background-color: $primaryColor
		border-radius: 100%
		color: $white
		font-size: 11px
		z-index: 1

	&-icon
		width: 100%

	&-block
		margin-left: 12px
		@include max-width(979)
			margin-left: 6px

	&-title
		margin-bottom: 6px
		font: 18px $Alegreya900
		text-transform: uppercase
		@include transitionAllEase
		@include max-width(979)
			font-size: 16px
		@include max-width(834)
			display: none
		&--scrolled
			font-family: $Alegreya700

		&--link
			display: block
			font-size: 24px
			@include max-width(979)
				font-size: 18px
			@include max-width(834)
				display: none
			&-scrolled
				font: 18px $Alegreya700

		&:hover
			color: $primaryColor

	&-subtitle
		font-size: 12px
		color: #848A9A
		max-width: 150px
		width: 100%
		@include max-width(979)
			font-size: 10px
		@include max-width(834)
			display: none
