@import "@/assets/styles/config"

.main-section
	position: relative
	padding: 200px 0 100px

	&__bg
		position: absolute
		right: -60px
		top: 100px
		z-index: -1
		@include transitionAllEase
		@include max-width($desktop-lg)
			width: 800px
		@include max-width(1220)
			width: 700px
			top: 150px
		@include max-width($desktop)
			width: 560px
		@include max-width($tablet)
			width: 460px
		@include max-width($mobile)
			width: 300px
			top: 95px
		@include max-width($mobile-sm)
			top: 90px


	&__inner
		display: flex
		flex-direction: column
		align-items: flex-start
		padding-top: 90px
		@include max-width(1220)
			padding-top: 45px
		@include max-width(765)
			padding-top: 88px

	&__title
		font: 72px $Alegreya700
		margin-bottom: 12px
		@include max-width(1220)
			font-size: 50px
		@include max-width(600)
			font-size: 40px

	&__description
		margin-bottom: 32px
		max-width: 441px
		font-size: 24px
		line-height: 36px
		@include max-width(1220)
			font-size: 20px
			line-height: 25px
		@include max-width(834)
			margin-bottom: 24px
			font-size: 18px
			max-width: 341px
		@include max-width(768)
			font-size: 16px

	&__btn
		padding: 14px
