@import "@/assets/styles/config"

.about-section
	position: relative
	padding: 100px 0 112px
	@include max-width(834)
		padding: 84px 0
	@include max-width(480)
		padding: 20px 0 60px

	&__inner
		display: flex
		flex-direction: column
		align-items: center

	&__card
		@include flex-center
		column-gap: 32px
		margin-bottom: 40px
		@include max-width(834)
			column-gap: 42px
		@include max-width(600)
			align-items: flex-start
		@include max-width(480)
			column-gap: 17px

		&-img
			border-radius: 130px
			overflow: hidden
			width: 314px
			@include max-width(834)
				width: 243px
				border-radius: 90px
			@include max-width(600)
				width: 200px
				border-radius: 60px
			@include max-width(480)
				width: 77px
				border-radius: 25px

			&--reverse
				order: 2


		&-wrapper
			max-width: 416px
			width: 100%
			@include max-width(600)
				order: 2


		&-title
			margin-top: 0
			margin-bottom: 12px
			font: 32px $Alegreya800
			line-height: 40px
			@include max-width(834)
				font-size: 24px
				line-height: 30px
			@include max-width(480)
				font-size: 20px
				line-height: 25px

		&-description
			font-size: 14px
			line-height: 21px
			@include max-width(480)
				font-size: 12px
				line-height: 18px