@import "@/assets/styles/config"

.backdrop
	position: fixed
	display: flex
	justify-content: center
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: rgba(0, 0, 0, .5)
	z-index: 0
	overflow-y: auto
	opacity: 0


	&--show
		z-index: $zIndexModal
		opacity: 1

.modal
	position: absolute
	padding: 32px 32px 40px
	margin: 20px 0
	border-radius: 5px
	background-color: $white
	max-width: 704px
	width: 100%
	z-index: $zIndexModal
	@include transitionAllEase
	opacity: 0

	&__header
		@include flex-between
		padding-bottom: 24px
		border-bottom: 1px solid #DCDFE2

	&__title
		font: 32px $Alegreya800
		line-height: 40px

	&__close
		width: 40px
		height: 40px
		background: none
		border: none
		cursor: pointer
		@include transitionAllEase
		&:hover
			transform: scale(1.15)

	&__empty
		margin: 10px 0
		font: 16px $Roboto700

	&__item
		position: relative
		@include flex-between
		padding: 24px 0
		border-bottom: 1px solid #DCDFE2
		@include max-width(480)
			flex-direction: column
			row-gap: 10px

	&__pizza
		position: relative
		display: flex
		align-items: center
		column-gap: 12px
		flex-direction: row
		width: 40%
		@include max-width(480)
			flex-direction: column
			width: 80%
			text-align: center

		&-type
			width: 83px

		&-icon
			width: 12px
			height: 12px
			&-wrapper
				position: absolute
				top: 0
				bottom: 0
				left: -15px
				display: flex
				row-gap: 5px
				align-items: flex-start
				flex-direction: column

		&-img
			width: 100%

		&-info
			width: 50%
			@include max-width(480)
				width: max-content

		&-name
			margin-bottom: 4px
			font: 18px $Alegreya800
			line-height: 24px

		&-size
			font-size: 12px
			line-height: 18px

	&__counter
		@include flex-center
		column-gap: 8px
		max-width: 124px
		width: 100%

		&-btn
			@include flex-center
			width: 24px
			height: 24px
			border-radius: 100%
			border: none
			background-color: #C5CBD5
			cursor: pointer
			@include transitionAllEase
			&:hover
				background-color: $primaryColor

		&-field
			text-align: center
			padding: 11px 18px
			border: 1px solid #C4C7CA
			border-radius: 4px
			width: 60px
			outline: none

			&:focus-visible
				border: 1px solid $focusBorder

	&__cost
		font: 18px $Alegreya800
		line-height: 24px

	&__remove
		position: absolute
		top: 10px
		right: 0
		background: none
		border: none
		width: 24px
		height: 24px
		cursor: pointer
		align-self: flex-start
		@include transitionAllEase
		&:hover
			transform: scale(1.25)

		&-img
			width: 100%
			filter: invert(40%)

	&__total
		margin-top: 8px
		font: 18px $Alegreya800
		line-height: 24px
		text-align: right
		@include max-width(480)
			margin-bottom: 20px
			text-align: center

		&-inner
			margin-left: 20px
			font-size: 32px
			line-height: 43px
			@include max-width(350)
				font-size: 20px
				line-height: 25px
				margin-left: 5px

	&__form
		position: relative

		&-wrapper
			margin-bottom: 32px

		&-title
			margin-bottom: 12px
			font: 18px $Alegreya800
			line-height: 24px
			@include max-width(480)
				margin-bottom: 16px

		&-input-wrapper
			display: flex
			column-gap: 32px
			margin-bottom: 24px
			@include max-width(480)
				flex-direction: column
				row-gap: 15px
				margin-bottom: 15px

		&-radio-wrapper
			display: flex
			flex-direction: column
			row-gap: 16px
			margin-bottom: 32px

		&-submit
			margin-bottom: 23px
			@include max-width(480)
				font-size: 16px
				padding: 10px 25px

		&-politic
			font-size: 12px
			line-height: 18px
			color: #848A9A
			@include max-width(350)
				text-align: center

.open
	opacity: 1
	@include transitionAllEase

.close
	top: -150%
	opacity: 0
	transition: all 1s ease
