@import "@/assets/styles/config"

.header
	position: fixed
	left: 0
	right: 0
	padding-top: 49px
	background: $white
	z-index: 99
	@include max-width(834)
		padding-top: 34px
	@include max-width(480)
		padding-top: 13px
	&--scrolled
		padding: 15px 0
		box-shadow: 0 2px 5px 0 rgba(165, 169, 176, 0.3)

	&__hamburger
		display: none
		cursor: pointer
		background: none
		border: none
		@include icon-size
		@include max-width(834)
			@include flex-center

	&__logo-container
		width: 182px
		@include max-width(1170)
			width: 130px
		@include max-width(480)
			width: 85px
		&--scrolled
			width: 68px
			height: 31px
	&__logo
		width: 100%
		height: 100%
		@include transitionAllEase
		&:hover
			fill: $primaryColor

	&__inner
		@include flex-between

	&__info-container
		display: flex
		align-items: center
		gap: 60px
		@include max-width(1170)
			gap: 15px

	&__lang
		@include flex-center
		padding: 12px
		font: 18px $Alegreya900
		text-transform: uppercase
		background-color: #EFF0F1
		border-radius: 100%
		cursor: pointer
		@include transitionAllEase
		@include max-width(480)
			display: none
		&--scrolled
			display: none

		&:hover
			color: $primaryColor
