@import "@/assets/styles/config"
.footer
	position: relative
	bottom: 0
	padding: 35px 0
	background-color: $black
	color: $white

	&__inner
		@include flex-between
		@include max-width(600)
			flex-direction: column
			row-gap: 25px
			&:last-child
				row-gap: 10px

	&__logo
		width: 112px
		@include max-width(834)
			width: 89px

	&__info
		flex-grow: 1
		margin-left: 100px
		@include max-width(834)
			flex-grow: 0
			margin-left: 0


	&__phone
		margin-bottom: 6px
		font: 24px $Alegreya800
		line-height: 30px
		color: $white
		@include transitionAllEase

		&:hover
			color: $primaryColor

	&__time, &__politic
		font-size: 12px
		line-height: 18px
		@include max-width(600)
			text-align-last: center

	&__politic
		color: $white
		@include transitionAllEase

		&:hover
			color: $primaryColor