@import "@/assets/styles/config"

.pizza-section
	position: relative
	padding-bottom: 100px

	&__title
		margin-bottom: 55px
		font: 52px $Alegreya900
		line-height: 65px
		text-align: center
		@include max-width(834)
			margin-bottom: 20px
			font-size: 40px
			line-height: 60px
		@include max-width(600)
			margin-bottom: 26px
			font-size: 28px
			line-height: 35px

	&__list
		@include flex-center
		gap: 40px
		margin-bottom: 40px
		@include max-width(600)
			column-gap: 28px

	&__item
		position: relative
		font: 18px $Alegreya900
		line-height: 24px
		cursor: pointer
		@include transitionAllEase

		&:hover
			color: $primaryColor

		&:hover &-icon
			top: -30px
			opacity: 1
			@include max-width(600)
				top: 0

		&-text
			display: block
			@include max-width(600)
				display: none

		&-icon
			position: absolute
			top: 0
			opacity: 0
			z-index: -1
			cursor: default
			left: 50%
			transform: translateX(-50%)
			@include transitionAllEase
			@include max-width(600)
				position: relative
				cursor: pointer
				opacity: 1
				z-index: 1
				&:hover
					fill: $primaryColor

	&__inner
		gap: 30px
		display: grid
		grid-template-columns: repeat(4, 1fr)
		@media (max-width: 1300px)
			grid-template-columns: repeat(3, 1fr)
		@include max-width(979)
			grid-template-columns: repeat(2, 1fr)
		@media (max-width: 670px)
			grid-template-columns: 1fr

	&__card
		position: relative
		display: flex
		flex-direction: column
		padding: 40px 20px 188px
		border-radius: 5px
		box-shadow: 0 2px 5px 0 rgba(165, 169, 176, 0.3)
		@include max-width(480)
			flex-direction: row
			column-gap: 10px
			padding: 24px 15px

		&-icon
			opacity: 0
			@include transitionAllEase
			@include max-width(480)
				width: 20px

		&:hover &-title
			color: $primaryColor

		&:hover &-icon
			opacity: 1

		&-icon-wrapper
			position: absolute
			display: flex
			flex-direction: column
			justify-content: flex-start
			align-items: flex-start
			row-gap: 10px
			top: 20px
			@include max-width(480)
				top: auto
				bottom: 8px
				left: 10px

		&-wrapper
			position: relative
			@include flex-center
			margin-bottom: 8px
			width: 100%
			@include max-width(480)
				align-items: flex-start

		&-border
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			width: 140px
			height: 140px
			border-radius: 100%
			border: 0.7px dashed #DCDFE2
			z-index: -1
			@include max-width(480)
				top: 43px
				width: 58px
				height: 58px

			&--md
				width: 170px
				height: 170px
				@include max-width(480)
					width: 70px
					height: 70px

			&--lg
				width: 200px
				height: 200px
				@include max-width(480)
					width: 83px
					height: 83px

		&-container
			@include flex-center
			width: 200px
			height: 200px
			@include max-width(480)
				width: 83px
				height: 83px

		&-img
			filter: drop-shadow(1px 1px 27px rgba(115, 105, 99, 0.5))
			opacity: 0
			@include transitionAllEase
			&--sm
				opacity: 1
				width: 140px
				height: 140px
				@include max-width(480)
					width: 58px
					height: 58px
			&--md
				opacity: 1
				width: 170px
				height: 170px
				@include max-width(480)
					width: 70px
					height: 70px
			&--lg
				opacity: 1
				width: 200px
				height: 200px
				@include max-width(480)
					width: 83px
					height: 83px

		&-title
			margin-top: 0
			margin-bottom: 6px
			font: 24px $Alegreya800
			line-height: 30px
			text-align: center
			@include transitionAllEase
			@include max-width(834)
				font-size: 20px
				line-height: 27px
			@include max-width(480)
				font-size: 19px
				line-height: 24px
				text-align: left

		&-recipe
			margin-bottom: 8px
			font-size: 12px
			line-height: 18px
			color: #848A9A
			text-align: center
			@include max-width(480)
				font-size: 11px
				line-height: 16px
				text-align: left

		&-options
			position: absolute
			bottom: 20px
			left: 50%
			transform: translateX(-50%)
			@include max-width(480)
				position: relative
				left: 0
				bottom: 0
				transform: translateX(0)
	&__size
		margin-bottom: 12px
		text-align: center
		@include max-width(480)
			text-align: left

		&-title
			margin-bottom: 4px

		&-wrapper
			position: relative
			@include flex-between
			max-width: 182px
			margin: 0 auto
			padding: 2px
			border-radius: 4px
			background-color: #EFF0F1
			@include max-width(480)
				max-width: 164px

		&-pointer
			position: absolute
			width: 58px
			top: 4px
			bottom: 4px
			border-radius: 2px
			cursor: pointer
			z-index: 1
			background-color: $white
			@include transitionAllEase
			@include max-width(480)
				width: 50px

		&-diameter
			padding: 5px 0
			border: none
			width: 58px
			border-radius: 2px
			cursor: pointer
			font: 12px $Roboto700
			line-height: 18px
			color: #82909F
			text-align: center
			background: transparent
			@include transitionAllEase
			z-index: 2

			&--active
				background-color: $white

	&__cost
		display: block
		margin-bottom: 12px
		font: 24px $Roboto700
		line-height: 30px
		text-align: center
		@include max-width(480)
			display: none

	&__btn
		margin: 0 auto
		padding-top: 14px
		padding-bottom: 14px
		@include max-width(834)
			font-size: 16px
			line-height: 20px
		@include max-width(480)
			padding: 2px 24px
			margin: 0

		&-inner_cost
			display: none
			@include max-width(480)
				display: block
				font-family: $Roboto500

		&-inner_order
			display: block
			@include max-width(480)
				display: none
