@import "@/assets/styles/config"

.delivery-section
	position: relative
	background-color: #F8F6F3
	padding: 72px 0 80px

	&__title
		margin-bottom: 26px
		font: 52px $Alegreya900
		line-height: 65px
		text-align: center
		@include max-width(834)
			margin-bottom: 20px
			font-size: 40px
			line-height: 60px
		@include max-width(480)
			margin-bottom: 12px
			font-size: 28px
			line-height: 35px

	&__wrapper
		display: flex
		column-gap: 19px
		@include max-width(768)
			flex-direction: column
			row-gap: 12px


	&__card
		display: flex
		align-items: center
		column-gap: 10px
		flex-grow: 1
		padding: 32px 14px
		background-color: $white
		box-shadow: 0 2px 5px 0 rgba(199, 193, 168, 0.3)
		border-radius: 5px
		@include max-width(1170)
			column-gap: 10px
		@include max-width(980)
			row-gap: 14px
			align-items: flex-start
			flex-direction: column
		@include max-width(768)
			flex-direction: row


		&-title
			margin-top: 0
			margin-bottom: 6px
			font: 24px $Alegreya800
			line-height: 30px
			@include max-width(1170)
				font-size: 20px
				line-height: 27px
			@include max-width(480)
				font-size: 18px
				line-height: 24px

		&-description
			max-width: 264px
			font-size: 12px
			line-height: 18px
