@import "config"
*, *::after, *::before
	padding: 0
	margin: 0
	box-sizing: border-box

body
	position: relative
	font: 16px $Roboto400
	overflow-x: hidden
ul
	list-style: none
	padding: 0
	margin: 0

a
	text-decoration: none
	color: $black

.container
	@include full-wrapper

.active
	color: $primaryColor
	fill: $primaryColor