$max-width: 1248px
$min-width: 280px

$zIndexModal: 10000

// Экраны
// ======
$desktop-lg: 1399
$desktop: 1199
$tablet: 991
$mobile: 767
$mobile-sm: 575

//COLORS
$primaryColor: #E52D2D
$focusBorder: #8FC9FF
$black: #000
$white: #fff

// BUTTON COLOR
$hoverButtonBgColor: #FF3C3C
$activeButtonBgColor: #BF221E
$disabledButtonBgColor: #DBDBDB
$disabledButtonColor: #939393


// FONT
$Roboto400: Roboto-400, sans-serif
$Roboto500: Roboto-500, sans-serif
$Roboto700: Roboto-700, sans-serif

$Alegreya700: Alegreya-700, sans-serif
$Alegreya800: Alegreya-800, sans-serif
$Alegreya900: Alegreya-900, sans-serif

.active
	color: $primaryColor
	fill: $primaryColor

//TRANSITION
@mixin transitionAllEase
	transition: all 0.3s ease

//FLEX
@mixin flex-center
	display: flex
	justify-content: center
	align-items: center

@mixin flex-between
	display: flex
	justify-content: space-between
	align-items: center


@mixin clearfix
	&:after
		content: ''
		display: table
		clear: both


@mixin grad($color1,$color2)
	background: $color2
	background: linear-gradient(top, $color1, $color2)


@mixin rotate($rotate)
	transform: rotate($rotate+deg)


@mixin max-width($width)
	@media only screen and (max-width: #{$width}px)
		@content

@mixin min-width($width)
	@media only screen and (min-width: #{$width}px)
		@content

@mixin min-max-width($minWidth, $maxWidth)
	@media only screen and (min-width: #{$minWidth}px) and (max-width: #{$maxWidth}px)
		@content

@mixin max-height($height)
	@media only screen and (max-height: #{$height}px)
		@content

@mixin min-height($height)
	@media only screen and (min-height: #{$height}px)
		@content


@mixin icon-size
	width: 40px
	height: 40px
	+max-width(480)
		width: 32px
		height: 32px

// Основные медиазапросы
// =====================
// desktop >= 992px
@mixin desktop()
	+min-width($tablet)
		@content

// desktop-lg >= 1400px
@mixin desktop-lg()
	+min-width($desktop-lg)
		@content

// 1200px <= desktop-md <= 1399px
@mixin desktop-md()
	+min-max-width($desktop, $desktop-lg)
		@content

// 992px <= desktop-sm <= 1199px
@mixin desktop-sm()
	+min-max-width($tablet, $desktop)
		@content

// 768px <= tablet <= 991px
@mixin tablet()
	+min-max-width($mobile, $tablet)
		@content

// mobile <= 767px
@mixin mobile()
	+max-width($mobile)
		@content

// 576px <= mobile-lg <= 767px
@mixin mobile-lg()
	+min-max-width($mobile-sm, $mobile)
		@content

// mobile-sm <= 575px
@mixin mobile-sm()
	+max-width($mobile-sm)
		@content

// desktop-tablet >= 768px
@mixin desktop-tablet()
	+min-width($mobile)
		@content

// tablet-mobile <= 991px
@mixin tablet-mobile()
	+max-width($tablet)
		@content




@mixin full-wrapper()
	margin: 0 auto
	max-width: $max-width
	min-width: $min-width
	+desktop-lg
		padding: 0 64px
	+desktop()
		padding: 0 32px
	+tablet-mobile()
		padding: 0 16px



@mixin width($width)
	max-width: $width
	width: $width


@mixin placeholder()
	&::-webkit-input-placeholder
		@content
	&::-moz-placeholder
		@content
	&:-moz-placeholder
		@content
	&:-ms-input-placeholder
		@content

