@font-face
	font-family: "Roboto-400"
	src: url("../fonts/Roboto/Roboto-Regular.ttf")

@font-face
	font-family: "Roboto-500"
	src: url("../fonts/Roboto/Roboto-Medium.ttf")

@font-face
	font-family: "Roboto-700"
	src: url("../fonts/Roboto/Roboto-Bold.ttf")

@font-face
	font-family: "Alegreya-700"
	src: url("../fonts/Alegreya/Alegreya-Bold.ttf")

@font-face
	font-family: "Alegreya-800"
	src: url("../fonts/Alegreya/Alegreya-ExtraBold.ttf")

@font-face
	font-family: "Alegreya-900"
	src: url("../fonts/Alegreya/Alegreya-Black.ttf")
