@import "@/assets/styles/config"

.gallery-section
	position: relative

	&__title
		margin-bottom: 13px
		font: 52px $Alegreya900
		line-height: 65px
		text-align: center
		@include max-width(834)
			margin-bottom: 0
			font-size: 40px
			line-height: 60px
		@include max-width(480)
			font-size: 28px
			line-height: 35px

	&__instagram
		display: block
		margin-bottom: 46px
		font: 24px $Alegreya800
		line-height: 30px
		text-align: center
		color: #848A9A
		@include transitionAllEase
		&:hover
			color: $primaryColor
		@include max-width(834)
			margin-bottom: 20px
			font-size: 20px
			line-height: 30px
		@include max-width(480)
			font-size: 16px
			line-height: 24px


	&__gallery
		display: grid
		grid-template-columns: repeat(5, 1fr)
		@include max-width(834)
			grid-template-columns: repeat(3, 1fr)
		@include max-width(480)
			grid-template-columns: repeat(2, 1fr)


		&-item
			width: 100%
			@include max-width(834)
				&:nth-child(n+7)
					display: none
			@include max-width(480)
				&:nth-child(n+5)
					display: none
