@import "@/assets/styles/config"

.promo-section
	position: relative
	padding: 150px 0
	@include max-width(979)
		padding-top: 50px

	&__list
		@include max-width(768)
			margin: 0 auto

		&_overflow-auto
			overflow-x: auto

		&::-webkit-scrollbar
			@include max-width(768)
				display: none

		&-inner
			position: relative
			display: flex
			align-items: flex-start
			gap: 31px
			margin: 0 auto
			@include max-width(768)
				display: none

		&-dots
			display: none
			justify-content: center
			flex-direction: row
			gap: 8px
			margin-top: 20px
			@include max-width(768)
				display: flex

		&-dot
			display: inline-block
			width: 12px
			height: 12px
			margin: 0 5px
			background-color: #DFE3EB
			border-radius: 100%
			cursor: pointer

			&--active
				background-color: $primaryColor

	&__card
		flex-grow: 1

	&__img
		margin-bottom: 12px

	&__title
		margin-bottom: 14px
		font: 24px $Alegreya800
		line-height: 30px
		@include max-width(834)
			font-size: 20px
			line-height: 25px

	&__description
		font-size: 14px
		line-height: 21px
		margin-bottom: 45px
